<?xml version="1.0"?>
<menu>
	<!-- Pizza options -->
	<option type="Pizzas">
		<food name="Tomato &amp; Cheese">
			<large>
				<price id="0">975</price>	
			</large>
			<small>
				<price id="1">550</price>
			</small>
		</food>
		<food name="Onions">
			<large>
				<price id="2">1085</price>	
			</large>
			<small>
				<price id="3">685</price>
			</small>
		</food>
		<food name="Peppers">
			<large>
				<price id="4">1085</price>	
			</large>
			<small>
				<price id="5">685</price>
			</small>
		</food>
		<food name="Broccoli">
			<large>
				<price id="6">1085</price>	
			</large>
			<small>
				<price id="7">685</price>
			</small>
		</food>
		<food name="Fresh Garlic">
			<large>
				<price id="8">1085</price>	
			</large>
			<small>
				<price id="9">685</price>
			</small>
		</food>
		<extra>
			<large>
				<price>185</price>
			</large>
			<small>
				<price>125</price>
			</small>
		</extra>
	</option>

	<!-- Special Pizza options -->
	<option type="Speciality Pizzas">
		<food name="Three Aces Special">
			<large>
				<price id="10">1580</price>	
			</large>
			<small>
				<price id="11">980</price>
			</small>
		</food>
		<food name="Mediterranean Sliced Tomatoes, Olives, Spinach, Fresh Garlic, Mozzarella &amp; Feta Cheese">
			<large>
				<price id="12">1580</price>	
			</large>
			<small>
				<price id="13">980</price>
			</small>
		</food>
		<food name="Vegetarian ">
			<large>
				<price id="14">1580</price>	
			</large>
			<small>
				<price id="15">980</price>
			</small>
		</food>
	</option>

	<!-- Special Dinners options -->
	<option type="Special Dinner">
		<food name="Chicken Wing Dinner">
			<price id="16">725</price>
		</food>
		<food name="Gyro Plate">
			<price id="17">725</price>
		</food>
		<food name="Chicken Plate">
			<price id="18">725</price>
		</food>
		<food name="3 Piece Chicken Plate">
			<price id="19">725</price>
		</food>
		<food name="Double-cheeseburger Plate">
			<price id="20">725</price>
		</food>
	</option>

	<!-- Side Orders options -->
	<option type="Side Orders">
		<food name="Onion Rings">
			<large>
				<price id="21">295</price>
			</large>
			<small>
				<price id="22">260</price>
			</small>
		</food>
		<food name="French Fries">
			<large>
				<price id="23">265</price>
			</large>
			<small>
				<price id="24">225</price>
			</small>
		</food>
		<food name="Spicy Fries">
			<large>
				<price id="25">295</price>
			</large>
			<small>
				<price id="26">260</price>
			</small>
		</food>
		<food name="Chicken Wings">
			<price id="27">575</price>
		</food>
	</option>
</menu>
