<menu>
	<!-- Pizza options -->
	<option type= "Pizzas">
		<food name="Tomato &amp; Cheese">
			<large>
				<price>975</price>	
			</large>
			<small>
				<price>550</price>
			</small>
		</food>
		<food name="Onions">
			<large>
				<price>1085</price>	
			</large>
			<small>
				<price>685</price>
			</small>
		</food>
		<food name="Peppers">
			<large>
				<price>1085</price>	
			</large>
			<small>
				<price>685</price>
			</small>
		</food>
		<food name="Broccoli">
			<large>
				<price>1085</price>	
			</large>
			<small>
				<price>685</price>
			</small>
		</food>
		<food name="Fresh Garlic">
			<large>
				<price>1085</price>	
			</large>
			<small>
				<price>685</price>
			</small>
		</food>
		<extra>
			<large>
				<price>185</price>
			</large>
			<small>
				<price>125</price>
			</small>
		</extra>
	</option>

	<!-- Special Pizza options -->
	<option type="Speciality Pizzas">
		<food name="Three Aces Special">
			<large>
				<price>1580</price>	
			</large>
			<small>
				<price>980</price>
			</small>
		</food>
		<food name="Mediterranean Sliced Tomatoes, Olives, Spinach, Fresh Garlic, Mozzarella &amp; Feta Cheese">
			<large>
				<price>1580</price>	
			</large>
			<small>
				<price>980</price>
			</small>
		</food>
		<food name="Vegetarian ">
			<large>
				<price>1580</price>	
			</large>
			<small>
				<price>980</price>
			</small>
		</food>
	</option>

	<!-- Special Dinners options -->
	<option type="Special Dinner">
		<food name="Chicken Wing Dinner">
			<price>725</price>
		</food>
		<food name="Gyro Plate">
			<price>725</price>
		</food>
		<food name="Chicken Plate">
			<price>725</price>
		</food>
		<food name="3 Piece Chicken Plate">
			<price>725</price>
		</food>
		<food name="Double-cheeseburger Plate">
			<price>725</price>
		</food>
	</option>

	<!-- Side Orders options -->
	<option type="Side Orders">
		<food name="Onion Rings">
			<large>
				<price>295</price>
			</large>
			<small>
				<price>260</price>
			</small>
		</food>
		<food name="French Fries">
			<large>
				<price>265</price>
			</large>
			<small>
				<price>225</price>
			</small>
		</food>
		<food name="Spicy Fries">
			<large>
				<price>295</price>
			</large>
			<small>
				<price>260</price>
			</small>
		</food>
		<food name="Chicken Wings">
			<price>575</price>
		</food>
	</option>
</menu>
